body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

.tool-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 7%;
}

.tool-link {
    color: gray;
    text-decoration: none;
}

.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 800px;
  height: 400px;
  font-size: 15px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;

    text-decoration: none;
    color: #333;
}

.post-title:visisted {
    color: #333;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.post-content {
    margin-top: 5px;
}

.created {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: gray;
    font-size: 12px;
}

.main-img{
    border-radius: 8px;
    opacity: .7;
    width: auto;
    height: 350px;
}

.db-footer{
    margin-bottom: 5px;
    vertical-align: bottom;
}

.make-plain{
    display: inline-block;
    overflow: hidden; 
    white-space:nowrap;
    width: 500px;
    overflow: hidden;
    margin-left: 50px;
}

button{
    background:none;
    border:none; 
    padding:0!;
    cursor: pointer;
}

.btn-forms{
    display:inline-block;
}

.el-1{
    display:inline-block;
}

.russ-swag{
	display: inline;
}

.russ-swag > button {
	display:inline;
}