<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/signup.css">
  </head>
  <body>
    <div class="tool-area">
      {% if username %}
      {{tool_logd}}
      <br>{{username}}
      {% else %}
      {{tool_nonlog}}
      {% endif %}
    </div>
    <div class="login-label">Login</div>
    <div class="login-form">
    <form method="post">
      <table>
        <tr>
          <td class="label">Username</td>
          <td><input type="text" name="username" value=""></td>
        </tr>

        <tr>
          <td class="label">Password</td>
          <td><input type="password" name="password" value=""></td>
        </tr>
      </table>
      <div class=error>{{error}}</div>
      <br>
      <input type="submit">
    </form>
    </div>
  </body>
</html>
